$def with (name)
<!doctype>
<html>
<head>
<title> The Energy Footprint System query interface </title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script> google.load("visualization", "1", {packages:["corechart","timeline"]});</script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
body {
  padding-top: 50px;
  position: relative;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
        .box {border:1px solid grey;background-color:#d3d3d3;}
        .large {font-size:3000%;color:red;}
        #div1 {background-color:blue;}
        #div2 {background-color:red;}
        #div3 {background-color:green;}
        .contentDiv {height:800px;}

</style>
</head>
<body >
   <div class="navbar navbar-default navbar-fixed-top">
       <img src="http://icsl.ee.columbia.edu:8000/static/dashboard/Banner.png">
        <div class="container">
            <div class="navbar-header"> <a href="" class="navbar-brand">My Website $name</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://icsl.ee.columbia.edu:8000/$name">Index</a></li>
                    <li><a href="http://icsl.ee.columbia.edu:8000/person/$name">Personal Query</a></li>
                    <li class="active"><a href="http://icsl.ee.columbia.edu:8000/space/$name">Spatial Query</a></li>
                    <li><a href="http://icsl.ee.columbia.edu:8000/location1/$name">New Data Visualizations</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Realtime <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">Realtime Data Visualization</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://icsl.ee.columbia.edu:8000/realtime-person/$name">Personal Footprint</a></li>
                        <li><a href="http://icsl.ee.columbia.edu:8000/realtime-space/$name">Spatial Footprint</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
      <div class="starter-template">
        <h1>Room Space Consumption Query</h1>	
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Query for single space
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		<form id="form1" onsubmit="return false;"  class="form-inline">
		  <div class="form-group">
		    <label for="spaceID1">Space ID</label>
		    <input type="text" class="form-control" id="spaceID1" placeholder="UNI" value="nwc1008">
		  </div>
		  <hr/>
		  <div class="form-group">
		    <label for="startDate1">startDate</label>
		    <input type="datetime-local" class="form-control" id="startDate1" data-date-prefill="one-day-before">
		  </div>
		  <div class="form-group">
		    <label for="endDate1">endDate</label>
		    <input type="datetime-local" class="form-control" id="endDate1" data-date-prefill="now">
		  </div>
		  <!--<div class="checkbox">
		    <label>
		      <input type="checkbox"> Check me out
		    </label>
		  </div>-->
		  <button type="button" class="btn btn-default">Query</button>
		</form>
		<div id="chart1" class="panel-body" style="height:500px;display:none;"></div>
		<script>
		var ch1=document.getElementById('chart1');
		var frm1=document.getElementById('form1');
 		jQuery(frm1).children('button').on('click', function () {
		    var _btn = jQuery(this).button('loading');
		    var spaceID=frm1.spaceID1.value;
		    if(spaceID.length<2){
		    	jQuery(frm1.spaceID1).parent().addClass('has-error');
		    	_btn.button('reset');
		    	return;
		    }
		    jQuery(frm1.spaceID1).removeClass('has-error');
		    jQuery.get("/api/Query/QueryRoom/"+spaceID,{
		    		start:getUTCSeconds(frm1.startDate1.value),
		    		end:getUTCSeconds(frm1.endDate1.value),
		    		client:"AJAX debug frontend"
	    		},
		    	function(data,status){
		    	console.log(data,status);
		    	_btn.button('reset');
		    	render1(data);
		    },'json').fail(function() {
			    alert('Error!'); // or whatever			    
			    _btn.button('reset');
			});
		  });
		  
		  function render1(input){
		  	d=input;
		  	/*
		  	input=input.reverse();
			function distinct_types(input){
	          var types={};
	          input.map(function(s){
	            if(s.type_aggregate)
	              for(var t in s.type_aggregate)
	                types[t]=true;
	          });
	          var ret=[];
	          for(var t in types)
	            ret.push(t);
	          return ret;
	        }
	        var types=distinct_types(input);
	        var type_indices={};for(var i in types)type_indices[types[i]]=1*i;
	        console.log(types,type_indices);
	        var data = new google.visualization.DataTable();
	        var dlen=0;
	        dlen++;data.addColumn('datetime', 'TIME'); // Implicit domain label col.
	        types.forEach(function(t){data.addColumn('number', t);dlen++;});

	        dlen++;data.addColumn({type:'string', role:'annotation'}); // annotation role col.
	        dlen++;data.addColumn({type:'string', role:'annotationText'}); // annotationText col.
	        console.log('dlen',dlen);

	        var lastR=false;
	        for(var i=0;i<input.length;i++){
	          var item=input[i];
	          var ret=new Array(dlen);
	          for(var j=1;j<dlen-2;j++)ret[j]=0;
	          for(var t in item.type_aggregate){
	            ret[ type_indices[t]+1 ]=item.type_aggregate[t].value;
	          }
	          if(item.roomID!=lastR){
	            lastR=''+item.roomID;
	            ret[dlen-2]=lastR;
	            ret[dlen-1]="Entered "+lastR;
	            console.log("enter room",lastR,item.timestamp);
	          }

	          if(!item.timestamp)return;
	          if(ret[0]!=undefined)alert('index access violation');
	          ret[0]=new Date(item.timestamp*1000);
	          //console.log('row',ret);
	          data.addRow(ret);
	          
	        };*/

	        

			var chart = new google.visualization.AreaChart(ch1);
	        var options = {
	          displayAnnotations: 1,
	          isStacked: 1,
	          //width:800,
	          //height:500,
	          //annotations: {'*': {style: 'line'}}
	        };
	        jQuery(ch1).show(0,function(){
	        	chart.draw(data, options);
	        	jQuery(ch1).slideToggle(0).slideToggle(1000);
	        });
		  }
		  </script>

      </div>
    </div>
  </div>

  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Aggregated Space and its Descendant
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        
        <form id="form2" onsubmit="return false;"  class="form-inline">
		  <div class="form-group">
		    <label for="roomID2">Space ID</label>
		    <input type="text" class="form-control" id="roomID2" placeholder="UNI" value="nwc10">
		  </div>
		  <hr/>
		  <div class="form-group">
		    <label for="startDate2">startDate</label>
		    <input type="datetime-local" class="form-control" id="startDate2"  data-date-prefill="one-day-before">
		  </div>
		  <div class="form-group">
		    <label for="endDate2">endDate</label>
		    <input type="datetime-local" class="form-control" id="endDate2"  data-date-prefill="now">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" id="chk2"> Stack
		    </label>
		  </div>
		  <button type="button" class="btn btn-default">Query</button>
		</form>		
		<div id="chart2" class="panel-body" style="height:500px;display:none;"></div>
		<script>
		/*var ch2=document.getElementById('chart2');
		var frm2=document.getElementById('form2');
		var people;
 		jQuery(frm2).children('button').on('click', function () {
		    var _btn = jQuery(this).button('loading');
		    var personIDs=frm2.personID2.value;
		    people=personIDs.split(",");
		    if(people.length<2){
		    	jQuery(frm2.personID2).parent().addClass('has-error');
		    	_btn.button('reset');
		    	return;
		    }
		    jQuery(frm2.personID2).removeClass('has-error');
		    jQuery.get("/api/Query/QueryPersonMulti/"+personIDs,{
		    		start:getUTCSeconds(frm2.startDate2.value),
		    		end:getUTCSeconds(frm2.endDate2.value),
		    		client:"AJAX debug frontend"
	    		},
		    	function(data,status){
		    	console.log(data,status);
		    	_btn.button('reset');
		    	render2(data,people);
		    },'json').fail(function() {
			    alert('Error!'); // or whatever			    
			    _btn.button('reset');
			});
		  });
 		

 		function render2(input, people){
			var N=input.length;
		  	input=input.reverse();
		  	var people_indices={};
		  	
	        var data = new google.visualization.DataTable();
	        var dlen=0;
	        
	        dlen++;data.addColumn('datetime', 'TIME'); // Implicit domain label col.
	        people.forEach(function(t){
	        	data.addColumn('number', t);
	        	people_indices[t]=dlen;
				data.addColumn({type:'string', role:'annotation'}); // annotation role col.
        		data.addColumn({type:'string', role:'annotationText'}); // annotationText col.
        		dlen+=3;
	        });

	        console.log('dlen',dlen);

	        //sanitation!
	        for(var i=0;i<N;i++){
	        	for(var ID in people_indices)
	        		if(typeof input[i].data[ID]!='object')input[i].data[ID]={roomID:undefined}
	        }

	        for(var i=0;i<N;i++){
	        	var flag=false;
	        	var item=input[i];
	        	var ret=new Array(dlen);
	        	ret[0]=new Date(item.timestamp*1000);
	        	for(var personID in item.data){
	        		var idx=people_indices[personID];
	        		ret[idx]=item.data[personID]["value"];
	        		if(i==0 || (item.data[personID]["roomID"] != input[i-1].data[personID]["roomID"] ))
	        		{
	        			var room=item.data[personID]["roomID"];
	        			if(!room || room=="unknown"){
	        				room="unknown";
	        				ret[idx]=0;
	        			}
	        			ret[idx+1]=room;
	        			ret[idx+2]=personID+" entered "+room;
	        			console.log("enter room",item.data[personID]["roomID"],personID,item.timestamp);
	        		}
	        	}
	          data.addRow(ret);
	        }

	        var isStacked=frm2.chk2.checked;

			var chart = new google.visualization.AreaChart(ch2);
	        var options = {
	          displayAnnotations: 1,
	          isStacked: isStacked,
	          //width:800,
	          //height:500,
	          //annotations: {'*': {style: 'line'}}
	        };
	        jQuery(ch2).show(0,function(){
	        	chart.draw(data, options);
	        	jQuery(ch2).slideToggle(0).slideToggle(1000);
	        });
		  }*/
		</script>

      </div>
    </div>
  </div>


    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="drawTree();">
           Space and Consumptions as a tree
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">	
		<div id="chart3" class="panel-body" style="height:500px;"></div>
		<script>
		google.charts.load('current', {packages:['wordtree']});
		google.charts.setOnLoadCallback(drawTree);
      	function drawTree() {
			jQuery.ajax({
		        url: '/realtime/?full=true',
		        success: render3,
		        dataType:"json",
		        cache: false
	  		});
		}
		function render3(data){
			//_saved_tree_data=data;
			var treeNodes=data.tree;
			var nodeIDs=[];
			var rows=[['id', 'childLabel', 'parent', 'Energy Consumption', { role: 'style' }]];
			for(var id in treeNodes){
				nodeIDs.push(id);
			}
			for(var id in treeNodes){
				var node=treeNodes[id];
				var row=[
					nodeIDs.indexOf(id),
					id,//node.name.split('/').reverse()[0].replace(/\s/g,'_'),
					nodeIDs.indexOf(node.father),
					1,//+node._sum_consumption,//(node._sum_consumption_including_children || node._sum_consumption)+0.00001,
					'black'
				];
				rows.push(row);
			}
			//rows.sort(function(a,b){return a[2]-b[2]});

			for(var id in treeNodes){
				var node=treeNodes[id];
				for(var cid in node.consumption){
					var row=[
						rows.length,
						cid,//actual name in metadata...
						nodeIDs.indexOf(id),
						1e-10+node.consumption[cid].value,
						'rgb(127,0,0)' //TODO: customize based on value
					];
					rows.push(row);
				}
			}


			var nodeListData = new google.visualization.arrayToDataTable(rows);

	        var options = {
	        	maxFontSize: 26,
				colors: ['black', 'red', 'green'],
				wordtree: {
					format: 'explicit',
					type: 'suffix'
				}
	        };
	        var wordtree = new google.visualization.WordTree(document.getElementById('chart3'));
	        wordtree.draw(nodeListData, options);
		}
		</script>

      </div>
    </div>
  </div>


      </div>
    </div><!-- /.container -->


<script>
//TODO: typeahead on username!
Date.prototype.toInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,16);
});
var oneDayBefore=new Date();oneDayBefore.setSeconds((new Date()).getSeconds()-86400);
//document.getElementById('startDate1').value = oneDayBefore.toInputValue();
//document.getElementById('endDate1').value = new Date().toInputValue();
jQuery("[data-date-prefill=now]").val(new Date().toInputValue());
jQuery("[data-date-prefill=one-day-before]").val(oneDayBefore.toInputValue());

function getUTCSeconds(LocalDateStr){
	var utcDate=new Date(LocalDateStr);
	utcDate.setMinutes(utcDate.getMinutes() + utcDate.getTimezoneOffset());
	return Math.floor(+utcDate/1000);
}
</script>


</body>
</html>